
$white: #fff;
$platinum: #e8e8e8;
$gray: #bababa;


$dark-salmon: #ee9480;
$melon: #f4baae;
$pale-pink: #fadfda;


$ball-blue: #2ab7ca;
$middle-blue: #77d1dd;
$blue-legoon: #b1e4eb;


$onix: #333745;
$spanish-gray: #8f9199;
$lavender-gray: #c7c8cc;

$raising-black: #221d23;
$nickel: #726f73;
$silver-chalice: #aeacaf;


$raleway: 'Raleway', sans-serif;
$open-sans: 'Open Sans', sans-serif;

$h1-size: 40px;
$h2-size: 35px;
$h3-size: 30px;
$h4-size: 25px;
$h5-size: 20px;
$h6-size: 14px;
$p-size: 14px;
$a-size: 14px;


$regular: 400;
$bold: 700;
